.profile__add-button {
  margin-left: auto;
  margin-top: 75px;
  padding: 0;
  height: 50px;
  min-width: 150px;
  background-color: transparent;
  border: 2px solid white;
}
.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
@media screen and (max-width: 601px) {
  .profile__add-button {
    margin: 36px auto 0;
    width: 282px;
  }
}
