.modal__close-button {
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: -45px;
  right: -45px;
}
.modal__close-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 601px) {
  .modal__close-button {
    right: 10px;
  }
}
