.modal__close-button {
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: -37px;
  right: -37px;
  transition: 0.3s;
}

.modal__close-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 601px) {
  .modal__close-button {
    right: 8px;
    top: -41px;
  }
}
