.profile__description {
  grid-area: description;
  margin: 0px;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 415px;
  white-space: nowrap;
}

@media screen and (max-width: 601px) {
  .profile__description {
    max-width: 282px;
    justify-self: center;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
