.profile__description {
  grid-area: description;
  margin: 0px;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 601px) {
  .profile__description {
    justify-self: center;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
