.modal__form-edit-description {
  margin: 0 auto 48px;
  border: 1px solid #000000;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  width: 358px;
}

@media screen and (max-width: 601px) {
  .modal__form-edit-description {
    width: 238px;
    line-height: 26px;
  }
}
