.modal__form-edit-description {
  margin: 0 auto 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  max-width: 358px;
  width: 100%;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  font-size: 14px;
  line-height: 30px;
  padding: 0;
}

@media screen and (max-width: 601px) {
  .modal__form-edit-description {
    max-width: 238px;
    line-height: 26px;
    margin-bottom: 46px;
  }
}
