.modal__submit-button {
  border: transparent;
  border-radius: 2px;
  margin: 0 auto;
  width: 358px;
  height: 50.15px;
  color: white;
  background-color: black;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

@media screen and (max-width: 601px) {
  .modal__submit-button {
    width: 238px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}

.modal__submit-button:hover {
  cursor: pointer;
  background-color: #313131;
}
