.card {
  width: 282px;
  height: 361px;
  background-color: white;
  border-radius: 3%;
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  -ms-border-radius: 3%;
  -o-border-radius: 3%;
}
.card:nth-of-type(1) {
  margin-bottom: 21px;
}
